body{
    font-family:  Verdana,sans-serif;
    font-size: 0.9em;
}

header, footer{
    padding: 10px;
    color: white;
    background-color: black;
}
section{
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
}
article{
    padding: 10px;
    margin: 5px;
    background-color: white;
}
nav ul{
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 5px;
}
li:hover{
    background-color: #e5f58c;
}