
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main-navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

.nav-logo {
    color: #999;
    font-size: 20px;
    margin-right: 20px;
}

.nav-menu {
    display: flex;
    list-style: none;
    height: 100%;
}

.nav-menu li a {
    color: #999;
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
}

.nav-menu li a.active {
    background-color: #000;
    color: #fff;
}

.nav-auth {
    margin-left: auto;
}

.btn-login {
    color: #999;
    text-decoration: none;
}

#text {
    line-height: 2.0;
    font-size: 17px;
}


#main-layout {
    display: flex;
    min-height: calc(100vh - 100px);
}


.sidebar-left, .sidebar-right {
    flex: 2;
    background-color: #f1f1f1;
    padding: 20px;
}

.sidebar-left .side-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #337ab7;
}

.content-center {
    flex: 8;
    padding: 30px;
    background-color: #fff;
}

.content-center h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.ads-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #333;
}

.main-footer {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    #main-layout {
        flex-direction: column;
    }

    .sidebar-left, .sidebar-right, .content-center {
        flex: 1;
    }
}
img{
    width: 30px;
    height: 30px;
}